{# templates/vanju/select_week.html.twig #}


{% extends 'base.html.twig' %}


{% block body %}

    <h1>You can select a Week</h1>


    {{ form_start(form) }}

    {{ form_widget(form.week) }}

    <button type="submit" class="btn btn-primary">Submit</button>
     <button type="submit2" class="btn btn-primary1">Submit</button>

    {{ form_end(form) }}

{% endblock %}

 